<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/main.css">
  <title>exercise</title>

</head>
<body style="padding-bottom: 1000px ;">
  <div class="exercise_1">
    <h1>Request a ride now</h1>
    <input class="textbox" type="text" placeholder="Enter pickup location">
    <input class="textbox" type="text" placeholder="Enter pickup location">
    <button class="rqst_btn">Request now</button>
    <button class="shdl_btn">Schedule for later</button>
  </div>
  <br><br>
  

  <!-- ############################################################################### -->
 <div class="big_cont">
    <div class="small_cont">
      <div class="dogs">
        <img id="small_dog" src="../static/images/puppy.jpg" alt="puppy image">
      </div>
      <div class="dogs">
        <img id="small_puppy" src="../static/images/dog.jpeg" alt="dog image">
      </div>
      <div class="dogs">
        <img id="small_delux" src="../static/images/delux.jpg" alt="delux paint dog">
      </div>
    </div>
    
 </div>
<br><br><br>
 <!-- ##################################################################################### -->
  

<br><br><br>
<!-- ############################################################################### -->

<div style=" 
    display:grid;
    grid-template-columns: 100px 1fr 2fr ;
">
    <div style="background-color: aqua;">
        column 1
    </div>
    <div style="background-color: pink;">
        column 2
    </div>
    <div style="background-color:blueviolet">
        column 3
    </div>

    <!-- If you add another div now it will create a new row whose columns will have the same dimensions as above-->
    <div style="background-color: blueviolet;">
      second row
    </div> 
    <div style="background-color: aqua;">
      second row
    </div>
    <div style="background-color: pink;">
      second row
    </div>

</div>
<br><br><br>
<div class="videos">
  <div style="background-color: blueviolet; height: 200px;">
    1fr
  </div> 
  <div style="background-color: aqua;">
    1fr
  </div>
  <div style="background-color: pink;">
    1fr
  </div>
  <div style="background-color: aqua;">
    1fr
  </div>
  <div style="background-color: pink;">
    1fr
  </div>
  <div style="background-color: blueviolet; height: 200px;">
    1fr
  </div> 

</div>
<br><br><br>

<!-- ####################### Practice flex box here  #############################-->

<div style="
  display: flex;
  flex-direction: row;
">
    <div style="background-color: aqua; flex: 1;">
      flex 1
    </div>
    <div style="background-color: pink; width: 100px;">
      100px
    </div>
    <div style="background-color: blueviolet; flex: 2;">
      flex 2
    </div> 
</div>

<br><br><br><br><br><br><br><br><br>

<div style="
    display: flex;
    flex-direction: row;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    height: 70px;
    justify-content: center;
">
    <div style="background-color: aqua; width: 100px;">
      100px
    </div>
    <div style="background-color: pink; width: 100px;">
      100px
    </div>
    <div style="background-color: blueviolet; width: 100px;">
      100px
    </div> 
</div>

<br><br><br><br><br><br><br><br><br>
<div style="
    display: flex;
    flex-direction: row;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    height: 70px;
    justify-content: space-between;

">
    <div style="background-color: aqua; width: 100px;">
      100px
    </div>
    <div style="background-color: pink; width: 100px;">
      100px
    </div>
    <div style="background-color: blueviolet; width: 100px;">
      100px
    </div> 
</div>
<br><br><br><br><br><br><br><br><br>
<div style="
    display: flex;
    flex-direction: row;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    height: 70px;
    justify-content: space-between;
    align-items: center; 
">
    <div style="background-color: aqua; width: 100px;">
      100px
    </div>
    <div style="background-color: pink; width: 100px;">
      100px
    </div>
    <div style="background-color: blueviolet; width: 100px;">
      100px
    </div> 
</div>

  
</body>
</html>