<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/header.css">
  <title>Youtube</title>
</head>
<body>

  <div class="header">
      <div class="left-sec">
          <img class="hamburger-menu" src="../static/images/hamburger-menu.svg" alt="">
          <img class="youtube-logo" src="../static/images/youtube-logo.svg" alt="">
      </div>
      <div class="mid-sec">
          <input class="search-bar" type="text" placeholder="Search">

          <button class="search-icon-btn">
            <img class="search-icon" src="../static/images/search.svg" alt="">
            <div class="search-tooltip" > Search </div>
          </button>
          <button class="voice-search-icon-btn">
            <img class="voice-search-icon" src="../static/images/voice-search-icon.svg" alt="">
          </button>
      </div>
      <div class="right-sec">
          <img class="upload-icon" src="../static/images/upload.svg" alt="">
          <img class="youtube-apps-icon" src="../static/images/youtube-apps.svg" alt="">
          <div class="notifications">
            <img class="notification-icon" src="../static/images/notifications.svg" alt="">
            <div class="notification-count">
                3
            </div>
          </div>
          <img class="current-user-picture" src="../static/images/my-channel.jpeg" alt="">
      </div>
  </div>


  <div class="sidebar">
      <div class="sidebar-icons">
          <img src="../static/images/home.svg" alt="">
          <div>Home</div> 
      </div>
      <div class="sidebar-icons">
          <img src="../static/images/explore.svg" alt="">
          <div>Explore</div> 
      </div>
      <div class="sidebar-icons">
          <img src="../static/images/subscriptions.svg" alt="">
          <div>Subscriptions</div> 
      </div>
      <div class="sidebar-icons">
          <img src="../static/images/originals.svg" alt="">
          <div>Originals</div>
      </div>
      <div class="sidebar-icons">
          <img src="../static/images/youtube-music.svg" alt="">
          <div>YouTube music</div> 
      </div>
      <div class="sidebar-icons">
          <img src="../static/images/library.svg" alt="">
          <div>Library</div> 
      </div>
  </div>


  <div class="videos">
    <div class="video-preview">
      <div class="thumbnail">
        <img class="thumb" src="../static/images/thumbnail-1.webp" alt="thumbnail">
        <div class="video-time">14:20</div>
      </div>
      <div class="channel_info">
          <div class="profile_pic">
            <img class="ppic" src="../static/images/channel-1.jpeg" alt="channel picture">
          </div>
          <div class="video-info">
                <p class="video-title"> Talkng Tech and AI with Google CEO Sundar Pichai! </p>
              
                <p class="video-author">Marques Brownlee</p>
              
                <p class="video-details">3.4M views &#183; 6 months ago</p> 
          </div>
      </div>
    </div> 
  
    <div class="video-preview">
      <div class="thumbnail">
        <img class="thumb" src="../static/images/thumbnail-1.webp" alt="thumbnail">
      </div>
      <div class="channel_info">
          <div class="profile_pic">
            <img class="ppic" src="../static/images/channel-1.jpeg" alt="channel picture">
          </div>
          <div class="video-info">
                <p class="video-title"> Talkng Tech and AI with Google CEO Sundar Pichai! </p>
              
                <p class="video-author">Marques Brownlee</p>
              
                <p class="video-details">3.4M views &#183; 6 months ago</p> 
          </div>
      </div>
    </div> 
  
    <div class="video-preview">
      <div class="thumbnail">
        <img class="thumb" src="../static/images/thumbnail-1.webp" alt="thumbnail">
      </div>
      <div class="channel_info">
          <div class="profile_pic">
            <img class="ppic" src="../static/images/channel-1.jpeg" alt="channel picture">
          </div>
          <div class="video-info">
                <p class="video-title"> Talkng Tech and AI with Google CEO Sundar Pichai! </p>
              
                <p class="video-author">Marques Brownlee</p>
              
                <p class="video-details">3.4M views &#183; 6 months ago</p> 
          </div>
      </div>
    </div> 
  
    <div class="video-preview">
      <div class="thumbnail">
        <img class="thumb" src="../static/images/thumbnail-1.webp" alt="thumbnail">
      </div>
      <div class="channel_info">
          <div class="profile_pic">
            <img class="ppic" src="../static/images/channel-1.jpeg" alt="channel picture">
          </div>
          <div class="video-info">
                <p class="video-title"> Talkng Tech and AI with Google CEO Sundar Pichai! </p>
              
                <p class="video-author">Marques Brownlee</p>
              
                <p class="video-details">3.4M views &#183; 6 months ago</p> 
          </div>
      </div>
    </div>
    <div class="video-preview">
      <div class="thumbnail">
        <img class="thumb" src="../static/images/thumbnail-1.webp" alt="thumbnail">
      </div>
      <div class="channel_info">
          <div class="profile_pic">
            <img class="ppic" src="../static/images/channel-1.jpeg" alt="channel picture">
          </div>
          <div class="video-info">
                <p class="video-title"> Talkng Tech and AI with Google CEO Sundar Pichai! </p>
              
                <p class="video-author">Marques Brownlee</p>
              
                <p class="video-details">3.4M views &#183; 6 months ago</p> 
          </div>
      </div>
    </div> 
  
    <div class="video-preview">
      <div class="thumbnail">
        <img class="thumb" src="../static/images/thumbnail-1.webp" alt="thumbnail">
      </div>
      <div class="channel_info">
          <div class="profile_pic">
            <img class="ppic" src="../static/images/channel-1.jpeg" alt="channel picture">
          </div>
          <div class="video-info">
                <p class="video-title"> Talkng Tech and AI with Google CEO Sundar Pichai! </p>
              
                <p class="video-author">Marques Brownlee</p>
              
                <p class="video-details">3.4M views &#183; 6 months ago</p> 
          </div>
      </div>
    </div>
  </div>
  

</body>
</html>